.meetVideoConatiner {
    position: relative;
    height: 100vh;
    background-color: rgb(3, 20, 43);


}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;  
    border-radius: 10px;  

}
.buttonContainers svg {
    font-size: 3rem ;

}

.conferenceView {
    display: flex;
    padding: 10px;
    gap: 10px;

}

.conferenceView  video {
    width: 40vw;
    height: 20vh;
    min-width: 30vh;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding: 20px;

}

.chatContainer {
    position:relative;
    height: 100%;
}

.chattingArea {
    position:absolute;
    bottom: 0;
}